{% extends 'basic.html' %}
{% block tittle %} About Me {% endblock tittle %}
{% load static %}

{% block body %}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2></h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>About Me</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>Dynamic and detail-oriented Backend Developer with over 1 year of expertise in Python and Flask. Committed to continuous learning and professional growth. Proficient in designing, developing, testing, deploying, and securing scalable API backend systems. Demonstrates a strong command of Git and Github, producing well-documented and organized code. Excels in complex problem-solving and communication, delivering high-quality solutions to meet business requirements.</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'assets/img/background.JPG' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Backend Developer &amp; Web Designer.</h3>
          <p class="fst-italic">
            Proficient in designing, developing, testing, deploying, and securing scalable API backend systems. </p>
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>29 Nov. 1999</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.zichdan.tech</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+234 902 0098 489</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Okigwe,Imo State Nigeria</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Remote:</strong> <span>Available</span></li>

              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Diploma</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>zichdan1999@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Onsite:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
            With extensive experience in server side frameworks like Flask & Django,
            Zichdan demonstrates exceptional problem solving skills and a deep understanding of backend architecture. 
            His strong knowledge of databases, APIs, and server-side frameworks enables him to design scalable and secure backend systems that seamlessly handle data processing and business logic. 
          </p>
          <p>
            Zichdan is known for his meticulous attention to detail, ensuring code quality, and implementing best practices to optimize performance and maintainability. 
            His collaborative nature and effective communication skills makes him an invaluable asset in cross-functional teams, contributing to successful project delivery.
            With a passion for continuous learning,
            Zichdan stays up-to-date with emerging technologies and industry trends, consistently enhancing his skills and pushing the boundaries of backend development. 
          </p>
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

{% endblock body %}

