{% extends 'basic.html' %} {% block tittle %} Contact Me {% endblock tittle %}
{% load static %}
{% block body %}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2></h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Contact Me</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->


 <!-- ======= Contact Section ======= -->
 <section  class="contact" data-aos="fade-up" data-aos-delay="100">
    <div class="container" data-aos="fade-left" data-aos-delay="150">

      <div class="section-title">
        <h2>Send Me A Message</h2>
      </div>

      <div class="row" data-aos="fade-in" data-aos-delay="170" >

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info" data-aos="fade-up" data-aos-delay="150">
            <div class="address" data-aos="fade-right" data-aos-delay="160">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>OKIGWE, IMO STATE,  470105, NIGERIA </p>
            </div>

            <div class="email" data-aos="fade-up" data-aos-delay="170">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>zichdan1999@gmail.com</p>
            </div>

            <div class="phone" data-aos="fade-right" data-aos-delay="180">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+234 9020 098 489</p>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6303.168072564189!2d7.3507!3d5.8292!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103aae7063e68509%3A0x96dc0443724d7a0f!2sOkigwe%2C%20Imo%20State%2C%20Nigeria!5e0!3m2!1sen!2sus!4v1626615037390!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>
        </div>


        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="/contacts/" method="post"  class="php-email-form" data-aos="fade-up" data-aos-delay="120">
            {% csrf_token %}
            
            <div class="row">
              <div class="form-group col-md-6" data-aos="fade-right" data-aos-delay="100">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control"  required>
              </div>
              <div class="form-group col-md-6" data-aos="fade-left" data-aos-delay="150">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email"  required>
              </div>
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-delay="200">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject"   required>
            </div>
            <div class="form-group" data-aos="fade-up" data-aos-delay="250">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>

            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <div class="error-message"></div>
            </div>

            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->



  {% endblock body %}

