{% extends 'basic.html' %}
{% load static %}

{% block tittle %} Zichdan {% endblock tittle %}

{% block stylecss %}
<link href="{% static 'assets/css/add.css' %}" rel="stylesheet">
{% endblock stylecss %}


{%block Hero %}

<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center"
>


  <p> Proceed To Download The CV!!!</p>

  <section>
    <div class="btn-box">
      <a href="/" class="btn">NO  RETURN TO HOME</a>

      {% if resumes %}
      {% for resume in resumes %}
      <a href="{{ resume.file.url }}" download="{{ resume.file.url }}" class="btn">DOWNLOAD CV</a>
      {% empty %} 
      <a href="#" class="btn">DOWNLOAD CV</a>
      {% endfor %}
      {% else %}
      <a href="#" class="btn">DOWNLOAD CV</a>
      {% endif %}

    </div>
  </section>

</section>
<!-- End Hero -->
{% endblock Hero %} 
