{% extends 'basic.html' %} {% block tittle %} Contact Us {% endblock tittle %}
{%block body %}


<div class="container mt-4 p-2">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <h3 class="text-white bg-primary text-center p-3">Please fill out this Details Carefully</h3>
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        <strong>{{message}}</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}

      <div class="card p-2">
        <form action="/internshipdetails/" method="post">
          {% csrf_token %}

          <div class="form-group">
            <h5>
              <span><i class="bx bx-envelope"></i> Fullname</span>
            </h5>
            <input type="text" class="form-control mb-3" name="name" required/>
          </div>

          <div class="form-group">
            <h5>
              <span><i class="bx bx-envelope"></i> U.S.N </span>
            </h5>
            <input type="text" class="form-control mb-3" name="usn" required/>
          </div>

          <div class="form-group">
            <h5>
              <span><i class="bx bx-envelope"></i> Email</span>
            </h5>
            <input type="email" value="{{user.email}}" class="form-control mb-3" name="email" required />
          </div>

          <div class="form-group">
            <h5>
              <span><i class="bx bx-envelope"></i> Did you Received Offer Letter </span>
            </h5>
            <input type="text" class="form-control mb-3" name="offer" placeholder="Yes/No" required/>
          </div>

          <div class="form-group">
            <h5>
              <span><i class="bx bx-calendar"></i> Start Date </span>
            </h5>
            <input type="date" class="form-control mb-3" name="startdate" required/>
          </div>

          <div class="form-group">
            <h5>
              <span><i class="bx bx-calendar"></i> End Date </span>
            </h5>
            <input type="date" class="form-control mb-3" name="enddate" required/>
          </div>

          <div class="form-group">
            <h5>
              <span><i class="bx bx-envelope"></i> Did you want Project and Report  </span>
            </h5>
            <input type="text" class="form-control mb-3" name="projreport" placeholder="Yes/No" required/>
          </div>

          <div class="form-group">
            <h5>
              <span><i class="bx bx-envelope"></i> College Name </span>
            </h5>
            <input type="text" class="form-control mb-3" name="cname" required/>
          </div>

          

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
