{% extends 'basic.html' %} {% block tittle %} Project Details {% endblock tittle %}
{% load static %}
{% block body %}

 <!-- ======= Breadcrumbs ======= -->
 <section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Project Details</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->


<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <div class="container">
          
    {% if project  %}

    <div class="row gy-4">
      <div class="col-lg-8">

        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">

            {% if project.proj_img1 %}
              <div class="swiper-slide " data-aos="fade-right">
                <img src="{{ project.proj_img1.url }}" alt="Project Image">
              </div>
            {% else %}
              <div class="swiper-slide">
                <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" style="width: 100% ; height: 62% ;" alt="">
              </div>
            {% endif %}


            {% if project.proj_img2 %}
              <div class="swiper-slide " data-aos="fade-right">
                <img src="{{ project.proj_img2.url }}" alt="Project Image">
              </div>
            {% else %}
              <div class="swiper-slide">
                <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" style="width: 100% ; height: 62% ;" alt="">
              </div>
            {% endif %}


            {% if project.proj_img3 %}
              <div class="swiper-slide " data-aos="fade-right">
                <img src="{{ project.proj_img3.url }}" alt="Project Image">
              </div>
            {% else %}
              <div class="swiper-slide">
                <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" style="width: 100% ; height: 62% ;" alt="">
              </div>
            {% endif %}

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up">
        <div class="portfolio-info" data-aos="fade-left">
          <h3 data-aos="fade-right" data-aos-delay="100">Project information</h3>
          <ul>
            <li><strong>Category</strong>: {{ project.category }}</li>
            <li><strong>Client</strong>: {{ project.client }}</li>
            <li><strong>Project date</strong>: {{ project.date_created }}</li>
            <li><strong>Project URL</strong>: <a href="#">{{ project.project_url }}</a></li>
          </ul>
        </div>
        
      </div>
      <div class="portfolio-description">
        <h2>This is an example of portfolio detail</h2>
        <p>
          Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
        </p>
      </div>

    </div>
    {% else %}
      <section>
        <div><h2>No Projects To Display Yet!!!</h2></div>
      </section>
    {% endif %}

  </div>
</section><!-- End Portfolio Details Section -->


{% endblock %} 