{% extends 'basic.html' %} {% block tittle %}Projects{% endblock tittle %}
{% load static %}
{% block body %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2></h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Projects</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->

<!-- =======  Projects Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <div class="container">
          
    {% for project in projects  %}

    <div class="row gy-4">
      <h2 class="title"><a href="{% url 'proj_details' project.id %}">{{ project.tittle }}</a></h2>
      <div class="col-lg-8">
        {% if project.proj_img1 %}
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide " data-aos="fade-right">
              <img src="{{ project.proj_img1.url }}" alt="Project Image">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        {% else %}
        <div class="swiper-slide">
          <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" style="width: 100% ; height: 62% ;" alt="">
        </div>
        {% endif %}
        <p class="description" data-aos="fade-up" data-aos-delay="50">{{ project.proj_intro }}</p>
      </div>

      <div class="col-lg-4" data-aos="fade-up">
        <div class="portfolio-info" data-aos="fade-left">
          <h3 data-aos="fade-right" data-aos-delay="100">Project information</h3>
          <ul>
            <li><strong>Category</strong>: {{ project.category }}</li>
            <li><strong>Client</strong>: {{ project.client }}</li>
            <li><strong>Project date</strong>: {{ project.date_created }}</li>
            <li><strong>Project URL</strong>: <a href="#">{{ project.project_url }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% empty %}
      <section>
        <div><h2>No Projects To Display Yet!!!</h2></div>
      </section>
    {% endfor %}


  </div>
</section><!-- End  Projects Section -->









{% comment %} 
                   <!-- COMMENTED TABLE FOR FUTURE REFERENCE                            -->

  <section>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ _('List of all users') }}</h3>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>{{ _('Username') }}</th>
                      <th>{{ _('Email') }}</th>
                      <th>{{ _('Role') }}</th>
                      <th>{{ _('Status') }}</th>
                      <th>{{ _('Actions') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td>{{ user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.role }}</td>
                      <td>{{ user.status }}</td>
                      <td>
                        <a
                          {%
                          comment
                          %}
                          href=""
                          {%
                          endcomment
                          %}
                          class="btn btn-primary btn-xs"
                        >
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--          END OF  COMMENTED TABLE FOR FUTURE REFERENCE                            -->


 {% endcomment %}


{% endblock body %}
