{% extends 'basic.html' %} {% block tittle %} Resume {% endblock tittle %}
{%block body %}

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
        sit in iste officiis commodi quidem hic quas.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>OKORIE DANIEL EZICHI</h4>
          <p>
            <em
              >Innovative and deadline-driven Backend Developer with 1+ years of
              experience designing and developing user-centered backend systems
              from initial concept to final, scalable for deliverable.</em
            >
          </p>
          <ul>
            <li>OKOGWE, IMO STATE, 470105, NIGERIA</li>
            <li>(+234) 9020-098-489</li>
            <li>zichdan1999@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Master of Fine Arts &amp; Graphic Design</h4>
          <h5>2015 - 2016</h5>
          <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
          <p>
            Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam
            iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti
            nerada porti sand markend
          </p>
        </div>
        <div class="resume-item">
          <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
          <h5>2010 - 2014</h5>
          <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
          <p>
            Quia nobis sequi est occaecati aut. Repudiandae et iusto quae
            reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates
            asperiores voluptatem Earum molestiae consequatur neque etlon sader
            mart dila
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Senior graphic design specialist</h4>
          <h5>2019 - Present</h5>
          <p><em>Experion, New York, NY </em></p>
          <ul>
            <li>
              Lead in the design, development, and implementation of the
              graphic, layout, and production communication materials
            </li>
            <li>
              Delegate tasks to the 7 members of the design team and provide
              counsel on all aspects of the project.
            </li>
            <li>
              Supervise the assessment of all graphic materials in order to
              ensure quality and accuracy of the design
            </li>
            <li>
              Oversee the efficient use of production project budgets ranging
              from $2,000 - $25,000
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Graphic design specialist</h4>
          <h5>2017 - 2018</h5>
          <p><em>Stepping Stone Advertising, New York, NY</em></p>
          <ul>
            <li>
              Developed numerous marketing programs (logos,
              brochures,infographics, presentations, and advertisements).
            </li>
            <li>
              Managed up to 5 projects or tasks at a given time while under
              pressure
            </li>
            <li>
              Recommended and consulted with clients on the most appropriate
              graphic design
            </li>
            <li>
              Created 4+ design presentations and proposals a month for clients
              and account managers
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Skills</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row skills-content">
        <div class="col-lg-6" data-aos="fade-up">
          <div class="progress">
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JAVASCRIPT <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="55"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="progress">
            <span class="skill">Django <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Flask <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">PYTHON <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="skills" class="skills section-bg">
      <div class="container">
        <div class="section-title">
          {% if resumes %}
    
          {% for resume in resumes %}
          <h2 class="tittle">{{ resume.tittle }}</h2>
          <a href="{{resume.file.url}}" download="{{resume.file.url}}">Download</a>
          {% endfor %}
          {% else %}
          <h2 class="tittle">No Resume Uploaded Yet!!!</h2>
          {% endif %}
        </div>
      </div>
    </section>
    <section>
      
      {% if resumes %}

      {% for resume in resumes %}
      <h2 class="tittle">{{ resume.tittle }}</h2>
      <a href="{{resume.file.url}}" class="download-link" download="{{resume.file.url}}">Download</a>
      {% endfor %}
      {% else %}
      <h2 class="tittle">No Resume Uploaded Yet!!!</h2>
      {% endif %}
    </section>

  </section><!-- End Skills Section -->


</section><!-- End Resume Section -->
{% endblock body %}

{% block scripts %}


{% endblock scripts %}
