/* Default styles for larger screens */
.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 459px;
    height: 40px;
  }
  
  .home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
  }
  
  .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  
  .btn-box a:hover {
    color: #00abf0;
  }
  
  .btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
  }
  
  .btn-box a:nth-child(2):hover {
    color: #081b29;
  }
  
  .btn-box a:nth-child(2)::before {
    background: #00abf0;
  }
  
  .btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
  }
  
  .btn-box a:hover::before {
    width: 100%;
  }
  
  /* Media query for smaller screens (mobile devices) */
  @media (max-width: 767px) {
    .home-content .btn-box {
      flex-wrap: wrap;
      width: 100%;
      max-width: 300px; /* Adjust the max-width value as needed */
      margin: 0 auto;
    }
  
    .btn-box a {
      width: 100%;
      margin-bottom: 10px; /* Adjust the spacing between buttons as needed */
    }
  
    .btn-box a:nth-child(2) {
      margin-right: 10px; /* Add spacing between buttons 2 and 3 */
    }
  }
  